@media (min-width: 1000px) {
  body {
    background-image: url("https://media.giphy.com/media/3o7TKyL3QqrRb2I9UI/source.gif");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 999px) {
  body {
    background-color: gray;
  }
}

h1 {
   text-align: center;
   color: white;
}
p {
    margin-left: 38px;
    margin-right: 15px;
    color: white;
}
img {
  width:100%;
  height: 80%;
  padding-right:none;
  margin-left:none;
  margin-right: 2px;
  margin-left: 2px;
}
.form-check {
  margin-bottom:50px;
  margin-left: 15px;
  color: yellow;
}
h1 {
  font-family: 'Germania One', cursive;
}
.btn-dark:hover {
    color: #ffffff;
    background-color: green;

}
button {
  margin-top: 15px;
  width: 15%;
}
